<?xml version="1.0" encoding="UTF-8"?>

<Configuration packages="com.microsoft.applicationinsights.log4j.v2">
	<Properties>
		<Property name="logPath">${env:jappcore.app.log.dir:-./logs/sampleapiapp}</Property>
		<Property name="logFileSimpleName">sampleapiapp</Property>
	</Properties>
	<Appenders>
		<RollingFile name="DailyRollingFile" fileName="${logPath}/${logFileSimpleName}.log"
			filePattern="${logPath}/${logFileSimpleName}-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{JAPPCORE_TX_ID}] %c{1} - %m%n
				</pattern>
				
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"	modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{JAPPCORE_TX_ID}] %c{1} - %m%n" />
		</Console>
	
	    <ApplicationInsightsAppender name="aiAppender" />
	</Appenders>

	<Loggers>
		<Logger name="com.itdevcloud" level="debug" additivity="false">
			<AppenderRef ref="DailyRollingFile" level="debug" />
			<AppenderRef ref="console" level="debug" />
	        <AppenderRef ref="aiAppender" level="debug"/>
		</Logger>
		<Root level="info" additivity="false">
			<AppenderRef ref="DailyRollingFile" level="debug" />
			<AppenderRef ref="console" level="debug" />
	        <AppenderRef ref="aiAppender" level="debug"/>
		</Root>
	</Loggers>
</Configuration>
